/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  box-sizing: border-box;
  font-family: 'Asap', sans-serif;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* fin del reset */

.container{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* menu de navegacio ---------------------------------------*/
.nav {
  padding:  0;
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.066);
  background-color: #fff;
  position:fixed;
  top:0;
  width: 100%;
  z-index: 400;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
}

.header_logo {
  display: flex;
  align-items: center;
}

.header_logo  a{
  text-decoration: none;
  font-weight: bold;
  font-size: 1.6rem;
  font-family: 'Flamenco', cursive;
  transition: all 0.5s ease-in-out;
  animation:  type 3s;
  animation-fill-mode: forwards;
  overflow: hidden;
  width: 13ch;
  animation-delay: 3s;
  color: white;
}

@keyframes type {
  0%{

    width: 0ch;
  }
  100%{
    color: #FF895D;
    width: 13ch;
  }
}


.menu a {

  color: #3a3a3a;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 550;
  padding: 1rem;
}

.btn-bg-gray {
  transition: all 0.5s ease-in-out;
}

.btn-bg-gray:hover {
  background: #ECF0F1;
}

.menu span {
  color: #fff;
}



.btn-light {
  display: inline-block;
  background-color: #1c9963;
  /* padding: 5px; */
  border-radius: 5px;
  color: white;
  transition: all 0.3s ease-in-out;
  margin: 5px 0;
}

/*fin del menu de navegacion */

/* banner ----------------------------------------------*/


.parallax {
  background: #fff fixed no-repeat 50% 50%;
  background-size: cover;
}

.header{
  background-image: url("../images/bg-1.png");
  height: 100vh;
}

.header_bottom {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 100%;
z-index: 100;
}

.container-text h1, h2 {
  text-transform: uppercase;
  /* display: block; */
  color: white;
}

.text-1{
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  position: relative;
  animation: text 3s 1;
}

.text-2{
  font-size: 30px;
  animation: text2 3s 1;
}

@keyframes text {
  0%{

    margin-bottom:-40px;
  }
  30%{
    letter-spacing:  25px;
    margin-bottom: -40px;
  }
  85%{
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}

@keyframes text2 {
  0%{
    color: rgba(0, 0, 0, 0.01);
    margin-bottom:-40px;
  }
  30%{
    color:rgba(0, 0, 0, 0.01)k;
    letter-spacing:  25px;
    margin-bottom: -40px;
  }
  85%{
    color: rgba(0, 0, 0, 0.01);
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}


.display-column {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 9.5rem;
}

.display-column a{
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  margin-top: 1rem;
  font-size: 0.8rem;

}



.btn-light-2 {
  background: #1c9963;
  width: 300px;
  margin: auto;
  padding: 1rem 1rem;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.btn-light-2:hover, .btn-light:hover {
  background: #23B1A5;
}
.display-column span:hover{
  text-decoration: underline;
}

/* fin banner -----------------------------------*/

/*-bloque about------------------------------------*/
.about, .productos{
  text-align: center;
  padding: 100px 0;
  margin-bottom: 10px;
  height: auto;
  position: relative;
}

.productos {
  margin-top: 30px;
}

.contenedor_h1 {

  height: 40px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  margin-top: 50px;
}

.list-tittle {

  animation: rotacion 12s infinite;
}

.tomato-text{
  color: tomato;
}

.green-text{
  color: green;
}

.purple-text{
  color:#292725;
}






@keyframes rotacion {
  0%{
    margin-top: 0;
  }
  20%{
    margin-top: 0;
  }
  25%{
    margin-top: -40px;
  }
  50%{
    margin-top: -40px;
  }
  55%{
    margin-top: -80px;
  }
  80%{
    margin-top: -80px;
  }
  85%{
    margin-top: -40px;
  }
  95%{
    margin-top: -40px;
  }
  100%{
    margin-top: 0px;
  }
}

.title{
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.015em;
  text-align: center;
  transition: all 0.3s ease-in-out;

}


.about p {
  color: #606470;
  line-height: 1.5;
  margin: 40px 0;
}

.btn {
  padding: 1rem;
  margin-left: 10px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.btn-dark {
  background-color: #194769;
}

.btn-dark:hover{
  background-color: #2E383F;
}
/*fin bloque about---------------------------------*/
/*productos-------------------------------*/


.bg-blue{
  background: #007bff;
}

.card {
  width: 300px;
  border-radius: 5px;
  text-align: center;
  border: solid 1px rgba(0, 0, 0, 0.125);
  margin-bottom: 60px;
  box-shadow: 0 1px 1px 1px #9A9B94;
}

.card h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem 0;
  color: black;
}

.card p {

}

.text-box{
  margin-top: 95px;
  margin-bottom: 1rem;
  color: #606470;
  width: 1000px;
  position: relative;

}

.translateLeft {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
  transition: all 1s ease-out;
}

.translateLeftActive{
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.animation-box {
  animation: derecha 1.5s ease-in-out;
}

@keyframes derecha {
  from {
    left: -1920px;

  }
  to {
    left: 0px;

  }
}





.card img{
  width: 300px;
  border-radius: 5px 5px 0 0;
  transition: all 0.5s ease-in-out;
}

.img-border-hidden {
  overflow: hidden;
  width: 300px;
  height: 180px;
  border-radius: 5px 5px 0 0;
}

.card img:hover {
  -webkit-transform: scale(1.15);
    transform: scale(1.15);

}

.card p {
  padding: 0 0 15px 0;
}



.btn-card {
  padding: 1.5rem 0 ;
  border-top: solid 1px rgba(0, 0, 0, 0.125);
  background: #ECE8E5;


}

.btn-card a {
  padding: 0.6rem 3.8rem;
}

.btn-card a:hover {
  background: #0245A3;
}

.bg-gray {
  background: #F5F5F5;
}

.cards-block {
  padding-top: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


/* fin productos --------------------------*/



/* stories -----------------------*/
  .stories {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .stories img {
    width:  50vw;
    transition: all 0.5s ease-in-out;
  }

  .content-img{
    width: 50vw;
    position: relative;
    overflow: hidden;

  }


  .content-img:hover .content-1{
    width: 200%;
  }

  .content-img:hover .content-2{
    width: 200%;
  }
  .content-img:hover .content-3{
    width: 200%;
  }
  .content-img:hover .content-4{
    width: 200%;
  }

  .content-img:hover img{
    transform: scale(1.5);
    transition: all 0.3s ease-in-out;
    opacity: 0.5;
  }

  .content-txt {
    position: absolute;
    top: 0;
    width: 400px;
    padding: 10px;
    z-index: 100;
    color: white;
    text-align: center;
    margin-top: 100px;
  }

  .titulo-3 {
    font-size: 30px;
    color: #f2f2f0;
    text-shadow: 1px 1px black ;
    opacity: 0;
    transform: scale(0.2);
    transition: all 0.3s ease-in-out;
  }

  .content-txt p {
    font-size: 20px;
    margin-top: 10px;
    color: #f2f2f0;
    text-shadow: 1px 1px black ;
    opacity: 0;
    transform: scale(0.2);
    transition: all 0.3s ease-in-out;
  }

  .content-img:hover h3{
    opacity: 1;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
  }

  .content-img:hover p{
    opacity: 1;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
  }


  .content-1{
    width: 1000px;
    height: 1000px;
    position: absolute;
    background: rgba(0, 100, 255, 0.7);
    top: 0;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    margin-left:-750px;
    transition: all 0.35s ease-in-out;
  }

  .content-2{
    width: 1000px;
    height: 1000px;
    position: absolute;
    background: rgba(0, 100, 255, 0.5);
    top: 0;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    margin-left:-800px;
    transition: all 0.9s ease-in-out;
  }

  .content-3{
    width: 1000px;
    height: 1000px;
    position: absolute;
    background: rgba(0, 100, 255, 0.5);
    top: 0;
    -webkit-transform: rotate(-30deg);
    transform: rotate(30deg);
    margin-left:-800px;
    margin-top: -500px;
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 1px 20px -5px black;
  }

.content-4{
    width: 1000px;
    height: 1000px;
    position: absolute;
    background: rgba(0, 100, 255, 0.5);
    top: 0;
    -webkit-transform: rotate(-30deg);
    transform: rotate(30deg);
    margin-left:-850px;
    margin-top: -500px;
    transition: all 0.8s ease-in-out;
  }


  .stories h2 {
    font-weight: 600;
    font-size: 1.5rem;
    margin-left: 10px;
    margin-bottom: 40px;
    color: black;
  }

  .stories p {
    line-height: 1.5;
    margin: 30px;

  }

  .stories-text-left {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10vw;
    text-align: left;
    padding: 30px;
  }

  .stories-text-left p {
    margin-left: 10px;
  }

  .stories-text-right {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    margin-right: 10vw;
    padding: 30px;
  }

/* fin stories ---------------------*/

/* footer -----------------------*/
.footer {
	background-color: #282D4F;
	color: white;
	font-size: 0.7em;
	height: auto;
  padding: 2rem 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.footer a{
	color: rgba(255, 255, 255, 0.7);
	font-size: 40px;
	text-decoration: none;
  letter-spacing: 1rem;
	transition: all 0.5s ease-in-out;

}

.footer a:hover {
	color: white;
}

.footer img {
	height: 40px;
	width: 40px;

}

.footer p {
  padding: 1rem;
}

.top a{
  text-decoration: none;
  font-weight: bold;
  font-size: 1.6rem;
  color: #FF895D;
  font-family: 'Flamenco', cursive;
  transition: all 0.5s ease-in-out;
  padding: 1rem;
}

/* fin footer ---------------------*/

/* form_art -------------------*/
  .logo_form h1 a{

    text-decoration: none;
    font-weight: bold;
    font-size: 1.6rem;
    color: #FF895D;
    font-family: 'Flamenco', cursive;
    text-align: center;
    display: block;
    padding: 2rem;
  }



  /* form ----------------------*/
  .block-form {
    background: #fff;
    width: 500px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    box-shadow: 0px 1px 0px 0.5px gray;
  }

  .form input {
    display: block;
    width: 350px;
    padding: 16px 10px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-sizing: border-box;
  }

  #loginfacebook{
      color: #fff;
      width: 350px;
      padding: 16px 10px;
      margin-top: 15px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;
      box-sizing: border-box;
      background-color: #22579b;
      text-align: center;
      font-size: 1rem;
      box-shadow: 0px 1px 0px 0.5px gray;
      transition: all 0.3s ease-in-out;
  }

  #loginfacebook:hover {
    background-color: #0060CA;
  }

  #logoutfacebook{
    color: #fff;
    width: 350px;
    padding: 16px 10px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: #22579b;
    text-align: center;
    font-size: 1rem;
    box-shadow: 0px 1px 0px 0.5px gray;
    transition: all 0.3s ease-in-out;
    display: none;
  }

  #logoutfacebook:hover {
    background-color: #0060CA;
  }


  .form_title {
    color: black;
    font-size: 1.2rem;
    text-align: center;
    padding: 40px;
  }

  .btns_login {

    display: flex;
    justify-content: space-between;
    margin-left: 75px;
    margin-right: 75px;
  }

  /* fin form_art ------------------*/

  /* pagina de registro */

  .logo_form_registro h1 a{

    text-decoration: none;
    font-weight: bold;
    font-size: 3rem;
    color: #FF895D;
    font-family: 'Flamenco', cursive;
    text-align: center;
    display: block;
    padding: 2rem;
  }

  .block_form_registro {
    background: #fff;
    width: 800px;
    height: 300px;
    margin-bottom: 40px;
    box-shadow: 0px 1px 0px 0.5px gray;
  }

  .bloque_btn_registro{
      height: 200px;
  }

  .container_registro_form {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .display-flex-center{
    display: flex;
    justify-content: center;
    border-bottom: solid 1px #606470;
  }

  .bloque_btn_registro p{
    margin-top: 50px;
    padding: 10px 0 50px 0;
    text-align: center;
  }

  .space2{
    height: 20px;
  }

  .centrar {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ingresa_form_registro{
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
    color: #253556;
  }

  .ingresa_form_registro a{
    text-decoration: none;
    color: #0ad254;

  }

  .ingresa_form_registro a:hover{
    text-decoration: underline;
    color: #0ad254;
  }

/* fin pagina registro */

/* ingresar.html */

.block-form_ingresar {
  background: #fff;
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  box-shadow: 0px 1px 0px 0.5px gray;
  text-align: center;
}

.contraseña_olvidada {
  text-decoration: none;
  font-size: 12px;
  color: #253556;
}



.contraseña_olvidada:hover {
  text-decoration: underline;

}

/* fin ingresar.html */





/* scrollMagic */
.active {
  background: #ECF0F1;
  font-weight: 800;
  color: tomato;
}

/* fin scrollMagic */
